# Supabase (client + auth flow)
EXPO_PUBLIC_SUPABASE_URL=https://<your-project-ref>.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=<your-anon-key>

# Supabase (server-only, for api/users/profile)
SUPABASE_SERVICE_ROLE_KEY=<your-service-role-key>

# Neon/Postgres (used by API routes + drizzle)
DATABASE_URL=postgresql://

# backend API base URL
EXPO_PUBLIC_API_URL=http://localhost:3000

# Optional (i don't acutally use neon auth )
EXPO_PUBLIC_NEON_AUTH_URL=<your-neon-auth-url>

# GET account linking + API integration
GET_LOGIN_URL=https://get.cbord.com/ucsc/full/login.php?mobileapp=1
GET_CREDENTIAL_SECRET=<strong-random-secret-for-pin-encryption>

# Dashboard admin auth
ADMIN_EMAIL_ALLOWLIST=<email of google account for admin dashboard>
ADMIN_SESSION_SECRET=<strong-random-session-signing-secret>

# If you want eas deploymnt
EXPO_APPLE_IDEXPO_APPLE_ID=
EXPO_APPLE_TEAM_ID=
REVALIDATE_SECRET=

# for notifications
WEB_PUSH_VAPID_PUBLIC_KEY=
WEB_PUSH_VAPID_PRIVATE_KEY=
