# Created by Vercel CLI (?)
DATABASE_URL=
EXPO_PUBLIC_NEON_AUTH_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_URL=
GET_CREDENTIAL_SECRET=
GET_LOGIN_URL="https://get.cbord.com/ucsc/full/login.php?mobileapp=1"
VERCEL_OIDC_TOKEN=
